@*@model IEnumerable<TrashCollector.Models.Customer>*@
@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeekChosenByCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateOfSuspension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateOfSuspension)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                    @if (Model != null)
                    {
                        @Html.DisplayFor(model => model.Name)
                    }
                </td>
                <td>
                    @if (Model != null)
                    {
                        @Html.DisplayFor(model => model.DayOfWeekChosenByCustomer)
                    }
                </td>
                <td>
                    @if (Model != null) 
                    {
                        @Html.DisplayFor(model => model.ExtraDay)
                    }
                </td>
                <td>
                    @if (Model != null) 
                    {
                        @Html.DisplayFor(model => model.AmountToPay)
                    }
                </td>
                <td>
                    @if (Model != null) 
                    {
                        @Html.DisplayFor(model => model.StartDateOfSuspension)
                    }
                </td>
                <td>
                    @if (Model != null) 
                    {
                        @Html.DisplayFor(model => model.EndDateOfSuspension)
                    }
                </td>
                <td>
                    @if (Model != null)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                    }|
                    @if (Model != null)
                    {
                        <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
                    } |
                    @if (Model != null)
                    {
                        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    }
                </td>
            </tr>
        
    </tbody>
</table>
